@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.dashboard-container_vice {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;

  background-image: url("./Pic/USTHB2.jpg");
}

.nav_vice {
  width: 250px;
  border-radius: 5px;
  color: white;
  background-image: url("./Pic/USTHB2.jpg");
}

/*.navbar_vice li a {
  font-size: 16px;
  color: white;  
}*/

.navbar_vice {
  width: 100%; /* Ajustez la largeur selon vos besoins */
  margin-top: 2rem; /* Ajustez la marge selon vos besoins */
}

.navbar_vice ul :hover {
  background-color: #c7c7c78c;
  /* font-size: 80%;*/
  height: 8vh;
  transition: 0.5s;
}
.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 550;
  font-style: normal;
}
.divider {
  border: 0;
  height: 1px;
  width: 160px;
  background: #fff;
  margin: 10px 49px;
}
.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}
.logo-vice {
  margin: 2rem 0 1rem 0;
  padding-bottom: 3rem;

  align-items: center;
}

.logo-vice img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo-vice h1 {
  margin-left: 1rem;
  text-transform: uppercase;
}

ul {
  margin: 0 auto;
}

li {
  padding-bottom: 2rem;
  text-align: initial;
  padding-left: 70px;
}

.nav_vice i {
  width: 50px;
  font-size: 18px;
  text-align: center;
}

/*.logout {
  position: absolute;
  bottom: 20px;
}*/

/* Main Section */
.main {
  width: 100px;
  display: flex;
}
/*.container-vice {
  padding-top:10%
  height: 900px;
  width : 1400px;
}*/
.main-top {
  background: #ffffff7e;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 10px 10px 10px 10px;
}

.top-vice {
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  margin-bottom: 0px;
  margin-top: 60px;
}

.main-body {
  padding: 10px 10px 10px 20px;
}

h1 {
  margin: 20px 10px;
}

.search_bar_vice {
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
}

.input_vice {
  width: 30%;
  padding: 9px;
  background-color: #282b2c0e;
  box-shadow: #333;
  border-radius: 6px;
  padding-right: 50px;
}

.search_bar_vice input {
  padding-right: 50px;
}
.search_bar_vice input:focus {
  border: 1px solid blueviolet;
}

.search_bar_vice select {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  margin-left: 2rem;
}

.search_bar_vice .filter {
  width: 300px;
}

.search-icon {
  position: flex;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555; /* Couleur de l'icône */
  cursor: pointer;
}
.container_form_vice {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 1500px;
  max-width: 200%;
  min-height: 600px;
}

.container_form_vice p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container_form_vice span {
  font-size: 12px;
}

.container_form_vice a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container_form_vice button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  /*font-weight: 600;*/
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  /*padding: 6px 10px; /* Réduire le padding */
}

.container_form_vice button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container_form_vice form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container_form_vice input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.container_form_vice select {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container_form_vice.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container_form_vice.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container_form_vice.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container_form_vice.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container_form_vice.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container_form_vice.active .toggle-right {
  transform: translateX(200%);
}
.navbar-blue {
  background-color: rgb(
    27,
    174,
    253
  ); /* Spécifiez la couleur bleue que vous souhaitez */
  /* Ajoutez d'autres styles selon vos besoins */
}

/*.btn {
    display: inline-block;
    padding: 6px 10px; 
    background-color: #fe1616;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 14px; 
  
  }
  
  .btn:hover {
    background-color: #820000; 
  }*/
