/* Style du diaporama */
@import "~boxicons/css/boxicons.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.body_HomeDoc {
  background-color: #f0f0f0; /* Couleur de fond */
  display: flex;
  width: 100vw;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
  background-image: linear-gradient(rgba(11, 4, 54, 0.7), rgba(0, 0, 0, 0)),
    url("./vice/Pic/image5.jpg");
  background-size: cover;
  flex-direction: column;
}
.sedan-regular1 {
  font-family: "Sedan", serif;
  font-weight: 650;
  font-style: normal;
}
.header-new-home {
  background-color: rgb(11, 4, 54);
}
.container-home {
  flex: 1;
  display: flex;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(200, 207, 223);
  z-index: 999;
}

.nav_home_doc {
  display: flex;
  justify-content: space-between; /* Pour aligner les éléments en haut */
  align-items: center;
  max-width: 1200px;
  height: 4rem; /* Ajustez la hauteur selon vos besoins */
  padding: 0 1rem;
  margin: 0 auto;
  z-index: 999;
}

.nav_home_doc li a {
  font-size: 19px;
  color: rgb(0, 0, 0); /* Modifier la couleur du texte en blanc */
}

.toggle_menu,
.close_menu {
  display: none;
}
.lab {
  font-size: 1.75rem;
  font-weight: 700;
  color: black;
}

.nav_list {
  display: flex;
}

.nav_item {
  margin: 0 1.5rem;
  padding: 1.4rem 0;
}

.nav_link {
  font-weight: 500;
  color: rgb(42, 140, 102);
}

.nav_link:hover {
  font-weight: 500;
  color: rgb(130, 238, 197);
}

.dropdown_link {
  display: flex;
  align-items: center;
}

.dropdown_icon {
  font-size: 1rem;
}
.megamenu {
  position: relative;
  width: 10%;
  top: 100%;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 23px 23px -21px rgba(0, 0, 0, 0.25);
  z-index: -99;
}
.content {
  position: absolute;
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  justify-content: center;
  left: 0;
}
.megamenu_item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.header_megamenu {
}
/*#diaporama {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .diaporama-inner {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .diaporama-slide {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  
  .navbar_home {
    display: flex;
    justify-content: center;
    background-color: #333; 
  }
  .navbar_home ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .navbar_home ul li {
    margin: 0 10px;
  }
  .navbar_home ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  .navbar_home ul li a:hover {
    background-color: #555; 
  }
  */
