.container_login_admin {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container_login_admin h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.container_login_admin form {
  display: flex;
  flex-direction: column;
}
.container_feriel {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #f4f1f1;
  border-radius: 4px;
  font-size: 16px;
}

.container_login_admin input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #f4f1f1;
  border-radius: 4px;
  font-size: 16px;
}

.container_login_admin button {
  padding: 10px 20px;
  background-color: #512da8;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.container_login_admin button:hover {
  background-color: #522da8ca;
}
