@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.dashboard-container_sec {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}
.nav_sec {
  /* position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
  /*background-color: #273583;
  color: white;
  display: flex;
  flex-direction: column; /* Pour aligner les éléments verticalement */
  /*justify-content: flex-start; /* Pour aligner les éléments en haut */
  /* border-radius: 0px 15px 15px 0px; */
  width: 250px;
  background-color: #fdad0e;
}

/*.navbar_vice li a {
  font-size: 16px;
  color: white;  
}*/

.navbar_sec {
  width: 100%; /* Ajustez la largeur selon vos besoins */
  margin-top: 2rem; /* Ajustez la marge selon vos besoins */
}

.navbar_sec ul :hover {
  background-color: #c7c7c78c;
  /* font-size: 80%;*/
  height: 8vh;
  width: 240px;
  border-radius: 20px;
  transition: 0.5s;
  padding: 3%;
}

.logo {
  margin: 2rem 0 1rem 0;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo h1 {
  margin-left: 1rem;
  text-transform: uppercase;
}

ul {
  margin: 0 auto;
}

li {
  padding-bottom: 2rem;
}

li a {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.nav_sec i {
  width: 50px;
  font-size: 18px;
  text-align: center;
}

/*.logout {
  position: absolute;
  bottom: 20px;
}*/

/* Main Section */
.main {
  width: 100px;
  display: flex;
}
/*.container-vice {
  padding-top:10%
  height: 900px;
  width : 1400px;
}*/
.main-top {
  /*width: 80%;
  background: #fff;
  padding-top: 5%;
  padding-left: 13%;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(43, 43, 43);*/
  background: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 15vh;
}

.main-body {
  padding: 10px 10px 10px 20px;
}

h1 {
  margin: 20px 10px;
}

.search_bar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.search_bar input {
  width: 50%;
  padding: 10px;
  border: 1px solid rgb(190, 190, 190);
}

.search_bar input:focus {
  border: 1px solid blueviolet;
}

.search_bar select {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  margin-left: 2rem;
}

.search_bar .filter {
  width: 300px;
}

.tags_bar {
  width: 55%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.tag {
  background: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.tag i {
  margin-right: 0.7rem;
}

.row {
  display: flex;
  padding: 10px;
  margin-top: 1.3rem;
  justify-content: space-between;
}

.row p {
  color: rgb(54, 54, 54);
  font-size: 15px;
}

.row p span {
  color: blueviolet;
}

.job_card {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
  justify-content: space-between;
  border: 2px solid rgb(190, 190, 190);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.job_details {
  display: flex;
}

.job_details .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.job_details .img i {
  width: 70px;
  font-size: 3rem;
  margin-left: 1rem;
  padding: 10px;
  color: rgb(82, 22, 138);
  background: rgb(216, 205, 226);
}

.job_details .text {
  margin-left: 2.3rem;
}

.job_details .text span {
  color: rgb(116, 112, 112);
}

.job_salary {
  text-align: right;
  color: rgb(54, 54, 54);
}

.job_card:active {
  border: 2px solid blueviolet;
  transition: 0.4s;
}
.btn-ajout {
  display: inline-block;
  padding: 6px 10px; /* Réduire le padding */
  color: #1af890;
  border: 2px solid #1af890; /* Ajouter une bordure de couleur */
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 14px; /* Ajuster la taille de la police */
}

.btn-sup {
  display: inline-block;
  padding: 6px 10px; /* Réduire le padding */
  color: #fb161a;
  border: 2px solid #fb161a; /* Ajouter une bordure de couleur */
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 14px; /* Ajuster la taille de la police */
}

.search-icon {
  position: flex;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555; /* Couleur de l'icône */
  cursor: pointer;
}
.container_form_sec {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 1500px;
  max-width: 200%;
  min-height: 600px;
}

.container_form_sec p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container_form_sec span {
  font-size: 12px;
}

.container_form_sec a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container_form_sec button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  /*font-weight: 600;*/
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  /*padding: 6px 10px; /* Réduire le padding */
}

.container_form_sec button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container_form_sec form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container_form_sec input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.container_form_sec select {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container_form_sec.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container_form_sec.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container_form_sec.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container_form_sec.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container_form_sec.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container_form_sec.active .toggle-right {
  transform: translateX(200%);
}
.navbar-blue {
  background-color: rgb(
    27,
    174,
    253
  ); /* Spécifiez la couleur bleue que vous souhaitez */
  /* Ajoutez d'autres styles selon vos besoins */
}

/*.btn {
    display: inline-block;
    padding: 6px 10px; 
    background-color: #fe1616;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 14px; 
  
  }
  
  .btn:hover {
    background-color: #820000; 
  }*/
